openapi: 3.0.3
info:
  title: Papyrus Server API
  version: 1.0.0
  description: |
    REST API for Papyrus - a cross-platform book management application.

    ## Overview

    The Papyrus Server handles metadata storage and synchronization for the Papyrus
    e-book reader application. It provides endpoints for:

    - **Authentication**: User registration, login, OAuth, and session management
    - **Books**: CRUD operations for book metadata and file references
    - **Organization**: Shelves, tags, and series management
    - **Annotations**: Highlights, notes, and bookmarks
    - **Progress**: Reading sessions and statistics
    - **Goals**: Reading goal tracking
    - **Sync**: Cross-device synchronization
    - **Storage**: File storage backend configuration
    - **Files**: File upload/download (when server is file backend)

    ## Authentication

    Most endpoints require authentication via JWT Bearer token. Obtain tokens
    through the `/auth/login` or `/auth/oauth/google` endpoints.

    ```
    Authorization: Bearer <access_token>
    ```

    Access tokens expire after 1 hour. Use the refresh token to obtain new
    access tokens via `/auth/refresh`.

    ## Rate Limiting

    Rate limits are enforced per user:

    | Endpoint Category | Limit |
    |-------------------|-------|
    | Authentication | 5 requests/minute |
    | General API | 100 requests/minute |
    | File uploads | 10 requests/minute |
    | Batch operations | 20 requests/minute |

    Rate limit information is returned in response headers:

    ```
    X-RateLimit-Limit: 100
    X-RateLimit-Remaining: 95
    X-RateLimit-Reset: 1640000000
    ```

    When rate limited, the API returns HTTP 429 with a `Retry-After` header.

    ## Error Handling

    All errors follow a consistent format:

    ```json
    {
      "error": {
        "code": "VALIDATION_ERROR",
        "message": "Human-readable error message",
        "details": { ... }
      }
    }
    ```

  contact:
    name: Papyrus Support
    url: https://github.com/Eoic/Papyrus
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.papyrus.app/v1
    description: Production server
  - url: https://staging-api.papyrus.app/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Authentication and session management
  - name: Users
    description: User profile and preferences
  - name: Books
    description: Book metadata and file management
  - name: Shelves
    description: Book collection organization
  - name: Tags
    description: Color-coded book labels
  - name: Series
    description: Book series grouping
  - name: Annotations
    description: Text highlights with notes
  - name: Notes
    description: Free-form book notes
  - name: Bookmarks
    description: Saved reading positions
  - name: Progress
    description: Reading sessions and statistics
  - name: Goals
    description: Reading goal management
  - name: Sync
    description: Cross-device synchronization
  - name: Storage
    description: File storage backend configuration
  - name: Files
    description: File upload and download

security:
  - bearerAuth: []

paths:
  # ============================================================================
  # Authentication
  # ============================================================================
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user account
      description: |
        Creates a new user account with email and password.
        A verification email is sent to the provided address.
        The account remains inactive until email is verified.
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      description: |
        Authenticates a user with email and password credentials.
        Returns access and refresh tokens on success.
      operationId: loginUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Account not verified or disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/oauth/google:
    post:
      tags: [Auth]
      summary: Login or register with Google OAuth
      description: |
        Authenticates a user via Google OAuth 2.0.
        Creates a new account if the Google email is not registered.
        Links Google account if email matches existing account.
      operationId: googleOAuth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleOAuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          description: Invalid OAuth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: |
        Exchanges a valid refresh token for a new access token.
        The refresh token is rotated for security.
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout and invalidate tokens
      description: |
        Invalidates the current session and all associated tokens.
        Optionally invalidates all sessions for the user.
      operationId: logoutUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                all_devices:
                  type: boolean
                  description: Logout from all devices
                  default: false
      responses:
        '204':
          description: Logout successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email address
      description: |
        Verifies the user's email address using the token sent via email.
        Activates the account on successful verification.
      operationId: verifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Email verification token
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Email verified successfully
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/resend-verification:
    post:
      tags: [Auth]
      summary: Resend verification email
      description: Sends a new verification email to the user's registered address.
      operationId: resendVerification
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Verification email sent (if account exists)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If the email is registered, a verification link has been sent
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      description: |
        Sends a password reset link to the user's email.
        For security, always returns success even if email doesn't exist.
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Password reset email sent (if account exists)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If the email is registered, a reset link has been sent
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      description: |
        Resets the user's password using the token from the reset email.
        Invalidates all existing sessions after password change.
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                  description: Password reset token
                password:
                  type: string
                  format: password
                  minLength: 8
                  description: New password
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password has been reset successfully
        '400':
          description: Invalid or expired token, or weak password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # Users
  # ============================================================================
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      description: Returns the authenticated user's profile information.
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      tags: [Users]
      summary: Update current user profile
      description: Updates the authenticated user's profile information.
      operationId: updateCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags: [Users]
      summary: Delete current user account
      description: |
        Permanently deletes the user account and all associated data.
        Requires password confirmation for security.
        Data is scheduled for deletion within 30 days.
      operationId: deleteCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  format: password
                  description: Current password for confirmation
      responses:
        '204':
          description: Account scheduled for deletion
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/preferences:
    get:
      tags: [Users]
      summary: Get user preferences
      description: Returns the user's application preferences.
      operationId: getUserPreferences
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags: [Users]
      summary: Update user preferences
      description: Updates the user's application preferences.
      operationId: updateUserPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /users/me/change-password:
    post:
      tags: [Users]
      summary: Change password
      description: Changes the user's password. Requires current password verification.
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password changed successfully
        '400':
          description: Weak password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Current password incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # Books
  # ============================================================================
  /books:
    get:
      tags: [Books]
      summary: List user's books
      description: |
        Returns a paginated list of books in the user's library.
        Supports filtering, sorting, and search.
      operationId: listBooks
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ReadingStatus'
          description: Filter by reading status
        - name: shelf_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by shelf
        - name: tag_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by tag
        - name: series_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by series
        - name: is_physical
          in: query
          schema:
            type: boolean
          description: Filter by physical/digital
        - name: is_favorite
          in: query
          schema:
            type: boolean
          description: Filter favorites only
        - name: search
          in: query
          schema:
            type: string
          description: Search in title, author, description
        - name: query
          in: query
          schema:
            type: string
          description: Advanced query language filter
      responses:
        '200':
          description: List of books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Books]
      summary: Create a new book
      description: |
        Adds a new book to the user's library.
        For digital books, use the file upload endpoint first.
      operationId: createBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookRequest'
      responses:
        '201':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /books/{book_id}:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Books]
      summary: Get book details
      description: Returns detailed information about a specific book.
      operationId: getBook
      responses:
        '200':
          description: Book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Books]
      summary: Update book metadata
      description: Updates book metadata fields.
      operationId: updateBook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookRequest'
      responses:
        '200':
          description: Book updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Books]
      summary: Delete a book
      description: |
        Removes a book from the library.
        Optionally deletes the associated file from storage.
      operationId: deleteBook
      parameters:
        - name: delete_file
          in: query
          schema:
            type: boolean
            default: false
          description: Also delete the book file from storage
      responses:
        '204':
          description: Book deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /books/{book_id}/cover:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Books]
      summary: Get book cover image
      description: Returns the book's cover image.
      operationId: getBookCover
      responses:
        '200':
          description: Cover image
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '302':
          description: Redirect to cover URL
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Books]
      summary: Upload book cover image
      description: Uploads or replaces the book's cover image.
      operationId: uploadBookCover
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: URL to fetch cover from
      responses:
        '200':
          description: Cover uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /books/{book_id}/shelves:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Books]
      summary: Get book's shelves
      description: Returns the shelves this book belongs to.
      operationId: getBookShelves
      responses:
        '200':
          description: List of shelves
          content:
            application/json:
              schema:
                type: object
                properties:
                  shelves:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shelf'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Books]
      summary: Set book's shelves
      description: Replaces all shelf assignments for this book.
      operationId: setBookShelves
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shelf_ids]
              properties:
                shelf_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Shelves updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  shelves:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shelf'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /books/{book_id}/tags:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Books]
      summary: Get book's tags
      description: Returns the tags assigned to this book.
      operationId: getBookTags
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Books]
      summary: Set book's tags
      description: |
        Replaces all tag assignments for this book.
        Maximum 10 tags per book.
      operationId: setBookTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tag_ids]
              properties:
                tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 10
      responses:
        '200':
          description: Tags updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /books/{book_id}/progress:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Books]
      summary: Get reading progress
      description: Returns the current reading progress for a book.
      operationId: getBookProgress
      responses:
        '200':
          description: Reading progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProgress'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Books]
      summary: Update reading progress
      description: Updates the reading position and status for a book.
      operationId: updateBookProgress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProgressRequest'
      responses:
        '200':
          description: Progress updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProgress'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /books/batch:
    post:
      tags: [Books]
      summary: Batch create books
      description: |
        Creates multiple books in a single request.
        Useful for bulk imports. Maximum 50 books per request.
      operationId: batchCreateBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [books]
              properties:
                books:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreateBookRequest'
                  maxItems: 50
      responses:
        '201':
          description: Books created
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: array
                    items:
                      $ref: '#/components/schemas/Book'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: Index in the input array
                        error:
                          $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      tags: [Books]
      summary: Batch update books
      description: |
        Updates multiple books in a single request.
        Useful for bulk tagging, shelf assignment, or status changes.
      operationId: batchUpdateBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_ids]
              properties:
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 100
                  description: Books to update
                updates:
                  type: object
                  description: Fields to update on all books
                  properties:
                    reading_status:
                      $ref: '#/components/schemas/ReadingStatus'
                    is_favorite:
                      type: boolean
                    rating:
                      type: integer
                      minimum: 1
                      maximum: 5
                add_tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Tags to add to all books
                remove_tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Tags to remove from all books
                add_shelf_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Shelves to add books to
                remove_shelf_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Shelves to remove books from
      responses:
        '200':
          description: Books updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_count:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        book_id:
                          type: string
                          format: uuid
                        error:
                          $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags: [Books]
      summary: Batch delete books
      description: |
        Deletes multiple books in a single request.
        Optionally deletes associated files from storage.
      operationId: batchDeleteBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_ids]
              properties:
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 100
                delete_files:
                  type: boolean
                  default: false
                  description: Also delete book files from storage
      responses:
        '200':
          description: Books deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_count:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        book_id:
                          type: string
                          format: uuid
                        error:
                          $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /books/metadata/fetch:
    post:
      tags: [Books]
      summary: Fetch metadata from online sources
      description: |
        Searches online sources (Open Library, Google Books) for book metadata.
        Returns multiple matches for user selection.
      operationId: fetchBookMetadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isbn:
                  type: string
                  description: ISBN-10 or ISBN-13
                title:
                  type: string
                author:
                  type: string
      responses:
        '200':
          description: Metadata search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetadataSearchResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # Shelves
  # ============================================================================
  /shelves:
    get:
      tags: [Shelves]
      summary: List all shelves
      description: Returns all shelves for the user, including nested structure.
      operationId: listShelves
      parameters:
        - name: include_books
          in: query
          schema:
            type: boolean
            default: false
          description: Include book counts
        - name: flat
          in: query
          schema:
            type: boolean
            default: false
          description: Return flat list instead of tree
      responses:
        '200':
          description: List of shelves
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShelfList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Shelves]
      summary: Create a new shelf
      description: Creates a new shelf or sub-shelf.
      operationId: createShelf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShelfRequest'
      responses:
        '201':
          description: Shelf created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shelf'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Shelf name already exists at this level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /shelves/{shelf_id}:
    parameters:
      - $ref: '#/components/parameters/ShelfIdParam'

    get:
      tags: [Shelves]
      summary: Get shelf details
      description: Returns detailed information about a shelf.
      operationId: getShelf
      responses:
        '200':
          description: Shelf details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shelf'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Shelves]
      summary: Update shelf
      description: Updates shelf properties.
      operationId: updateShelf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShelfRequest'
      responses:
        '200':
          description: Shelf updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shelf'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Shelves]
      summary: Delete shelf
      description: |
        Deletes a shelf. Books in the shelf are not deleted.
        Cannot delete default shelves.
      operationId: deleteShelf
      responses:
        '204':
          description: Shelf deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Cannot delete default shelf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /shelves/{shelf_id}/books:
    parameters:
      - $ref: '#/components/parameters/ShelfIdParam'

    get:
      tags: [Shelves]
      summary: List books in shelf
      description: Returns books in this shelf with pagination.
      operationId: listShelfBooks
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: List of books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      tags: [Shelves]
      summary: Add books to shelf
      description: Adds one or more books to the shelf.
      operationId: addBooksToShelf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_ids]
              properties:
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Books added
          content:
            application/json:
              schema:
                type: object
                properties:
                  added_count:
                    type: integer
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /shelves/{shelf_id}/books/remove:
    parameters:
      - $ref: '#/components/parameters/ShelfIdParam'

    post:
      tags: [Shelves]
      summary: Remove books from shelf
      description: Removes one or more books from the shelf.
      operationId: removeBooksFromShelf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_ids]
              properties:
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Books removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  removed_count:
                    type: integer
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Tags
  # ============================================================================
  /tags:
    get:
      tags: [Tags]
      summary: List all tags
      description: Returns all tags for the user.
      operationId: listTags
      parameters:
        - name: include_counts
          in: query
          schema:
            type: boolean
            default: false
          description: Include book counts for each tag
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Tags]
      summary: Create a new tag
      description: Creates a new tag with name and color.
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Tag name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tags/{tag_id}:
    parameters:
      - $ref: '#/components/parameters/TagIdParam'

    get:
      tags: [Tags]
      summary: Get tag details
      description: Returns detailed information about a tag.
      operationId: getTag
      responses:
        '200':
          description: Tag details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Tags]
      summary: Update tag
      description: Updates tag name or color.
      operationId: updateTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagRequest'
      responses:
        '200':
          description: Tag updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Tags]
      summary: Delete tag
      description: Deletes a tag and removes it from all books.
      operationId: deleteTag
      responses:
        '204':
          description: Tag deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /tags/{tag_id}/books:
    parameters:
      - $ref: '#/components/parameters/TagIdParam'

    get:
      tags: [Tags]
      summary: List books with tag
      description: Returns books that have this tag.
      operationId: listTagBooks
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Series
  # ============================================================================
  /series:
    get:
      tags: [Series]
      summary: List all series
      description: Returns all series for the user.
      operationId: listSeries
      parameters:
        - name: include_books
          in: query
          schema:
            type: boolean
            default: false
          description: Include book counts
      responses:
        '200':
          description: List of series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Series]
      summary: Create a new series
      description: Creates a new series.
      operationId: createSeries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSeriesRequest'
      responses:
        '201':
          description: Series created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Series'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Series name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /series/{series_id}:
    parameters:
      - $ref: '#/components/parameters/SeriesIdParam'

    get:
      tags: [Series]
      summary: Get series details
      description: Returns detailed information about a series including its books.
      operationId: getSeries
      responses:
        '200':
          description: Series details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesWithBooks'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Series]
      summary: Update series
      description: Updates series information.
      operationId: updateSeries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSeriesRequest'
      responses:
        '200':
          description: Series updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Series'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Series]
      summary: Delete series
      description: Deletes a series. Books in the series are not deleted.
      operationId: deleteSeries
      responses:
        '204':
          description: Series deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Annotations
  # ============================================================================
  /annotations:
    get:
      tags: [Annotations]
      summary: List all annotations
      description: Returns all annotations across all books.
      operationId: listAnnotations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: book_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by book
        - name: color
          in: query
          schema:
            type: string
          description: Filter by highlight color
        - name: search
          in: query
          schema:
            type: string
          description: Search in highlighted text and notes
      responses:
        '200':
          description: List of annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /annotations/export:
    post:
      tags: [Annotations]
      summary: Export annotations
      description: |
        Exports annotations to a structured file format.
        Can export all annotations or filter by book/color.
      operationId: exportAnnotations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [markdown, pdf, txt, json, html]
                  description: Export file format
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Filter to specific books (all if empty)
                colors:
                  type: array
                  items:
                    type: string
                  description: Filter by highlight colors
                include_notes:
                  type: boolean
                  default: true
                  description: Include annotation notes
                include_context:
                  type: boolean
                  default: false
                  description: Include surrounding text context
                group_by:
                  type: string
                  enum: [book, chapter, color, date]
                  default: book
                  description: How to group annotations in export
      responses:
        '200':
          description: Export file
          content:
            text/markdown:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /books/{book_id}/annotations:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Annotations]
      summary: List book annotations
      description: Returns all annotations for a specific book.
      operationId: listBookAnnotations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      tags: [Annotations]
      summary: Create annotation
      description: Creates a new text highlight annotation.
      operationId: createAnnotation

  /books/{book_id}/annotations/export:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Annotations]
      summary: Export book annotations
      description: Exports all annotations for a specific book.
      operationId: exportBookAnnotations
      parameters:
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [markdown, pdf, txt, json, html]
        - name: include_notes
          in: query
          schema:
            type: boolean
            default: true
        - name: include_context
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Export file
          content:
            text/markdown:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /annotations/{annotation_id}:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnnotationRequest'
      responses:
        '201':
          description: Annotation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /annotations/{annotation_id}:
    parameters:
      - $ref: '#/components/parameters/AnnotationIdParam'

    get:
      tags: [Annotations]
      summary: Get annotation details
      description: Returns detailed information about an annotation.
      operationId: getAnnotation
      responses:
        '200':
          description: Annotation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Annotations]
      summary: Update annotation
      description: Updates annotation color or note.
      operationId: updateAnnotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAnnotationRequest'
      responses:
        '200':
          description: Annotation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Annotations]
      summary: Delete annotation
      description: Deletes an annotation.
      operationId: deleteAnnotation
      responses:
        '204':
          description: Annotation deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Notes
  # ============================================================================
  /notes:
    get:
      tags: [Notes]
      summary: List all notes
      description: Returns all notes across all books.
      operationId: listNotes
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: book_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by book
        - name: search
          in: query
          schema:
            type: string
          description: Search in note title and content
      responses:
        '200':
          description: List of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /books/{book_id}/notes:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Notes]
      summary: List book notes
      description: Returns all notes for a specific book.
      operationId: listBookNotes
      responses:
        '200':
          description: List of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      tags: [Notes]
      summary: Create note
      description: Creates a new free-form note for a book.
      operationId: createNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteRequest'
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /notes/{note_id}:
    parameters:
      - $ref: '#/components/parameters/NoteIdParam'

    get:
      tags: [Notes]
      summary: Get note details
      description: Returns detailed information about a note.
      operationId: getNote
      responses:
        '200':
          description: Note details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Notes]
      summary: Update note
      description: Updates note title or content.
      operationId: updateNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteRequest'
      responses:
        '200':
          description: Note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Notes]
      summary: Delete note
      description: Deletes a note.
      operationId: deleteNote
      responses:
        '204':
          description: Note deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Bookmarks
  # ============================================================================
  /books/{book_id}/bookmarks:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Bookmarks]
      summary: List book bookmarks
      description: Returns all bookmarks for a specific book.
      operationId: listBookBookmarks
      responses:
        '200':
          description: List of bookmarks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      tags: [Bookmarks]
      summary: Create bookmark
      description: Creates a new bookmark at a specific position.
      operationId: createBookmark
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookmarkRequest'
      responses:
        '201':
          description: Bookmark created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bookmark'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /bookmarks/{bookmark_id}:
    parameters:
      - $ref: '#/components/parameters/BookmarkIdParam'

    get:
      tags: [Bookmarks]
      summary: Get bookmark details
      description: Returns detailed information about a bookmark.
      operationId: getBookmark
      responses:
        '200':
          description: Bookmark details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bookmark'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Bookmarks]
      summary: Update bookmark
      description: Updates bookmark note or color.
      operationId: updateBookmark
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookmarkRequest'
      responses:
        '200':
          description: Bookmark updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bookmark'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Bookmarks]
      summary: Delete bookmark
      description: Deletes a bookmark.
      operationId: deleteBookmark
      responses:
        '204':
          description: Bookmark deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Progress & Statistics
  # ============================================================================
  /progress/sessions:
    get:
      tags: [Progress]
      summary: List reading sessions
      description: Returns reading session history.
      operationId: listReadingSessions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: book_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by book
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Filter sessions after this date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: Filter sessions before this date
      responses:
        '200':
          description: List of reading sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingSessionList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Progress]
      summary: Record reading session
      description: Records a completed reading session.
      operationId: createReadingSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReadingSessionRequest'
      responses:
        '201':
          description: Session recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /progress/sessions/{session_id}:
    parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Progress]
      summary: Get session details
      description: Returns detailed information about a reading session.
      operationId: getReadingSession
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingSession'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Progress]
      summary: Delete session
      description: Deletes a reading session record.
      operationId: deleteReadingSession
      responses:
        '204':
          description: Session deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /progress/statistics:
    get:
      tags: [Progress]
      summary: Get reading statistics
      description: Returns aggregated reading statistics.
      operationId: getReadingStatistics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, year, all, custom]
            default: month
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Start date for custom period
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: End date for custom period
        - name: book_id
          in: query
          schema:
            type: string
            format: uuid
          description: Statistics for specific book
        - name: shelf_id
          in: query
          schema:
            type: string
            format: uuid
          description: Statistics for books in shelf
      responses:
        '200':
          description: Reading statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingStatistics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # Goals
  # ============================================================================
  /goals:
    get:
      tags: [Goals]
      summary: List reading goals
      description: Returns all reading goals for the user.
      operationId: listGoals
      parameters:
        - name: is_active
          in: query
          schema:
            type: boolean
          description: Filter by active status
        - name: is_completed
          in: query
          schema:
            type: boolean
          description: Filter by completion status
      responses:
        '200':
          description: List of goals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Goals]
      summary: Create reading goal
      description: Creates a new reading goal.
      operationId: createGoal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGoalRequest'
      responses:
        '201':
          description: Goal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Goal'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /goals/{goal_id}:
    parameters:
      - $ref: '#/components/parameters/GoalIdParam'

    get:
      tags: [Goals]
      summary: Get goal details
      description: Returns detailed information about a goal.
      operationId: getGoal
      responses:
        '200':
          description: Goal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Goal'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Goals]
      summary: Update goal
      description: Updates goal properties.
      operationId: updateGoal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGoalRequest'
      responses:
        '200':
          description: Goal updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Goal'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Goals]
      summary: Delete goal
      description: Deletes a reading goal.
      operationId: deleteGoal
      responses:
        '204':
          description: Goal deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /goals/{goal_id}/progress:
    parameters:
      - $ref: '#/components/parameters/GoalIdParam'

    put:
      tags: [Goals]
      summary: Update goal progress
      description: Manually updates the current progress value.
      operationId: updateGoalProgress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_value]
              properties:
                current_value:
                  type: integer
                  minimum: 0
                note:
                  type: string
                  description: Optional note for this update
      responses:
        '200':
          description: Progress updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Goal'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Sync
  # ============================================================================
  /sync/changes:
    get:
      tags: [Sync]
      summary: Get changes since timestamp
      description: |
        Returns all changes since the specified timestamp.
        Used for incremental synchronization.
      operationId: getChanges
      parameters:
        - name: since
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Timestamp to get changes since
        - name: entity_types
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [book, shelf, tag, series, annotation, note, bookmark, reading_session, reading_goal, reading_profile]
          description: Filter by entity types
      responses:
        '200':
          description: List of changes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncChanges'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Sync]
      summary: Push local changes
      description: |
        Pushes local changes to the server.
        Handles conflict resolution automatically.
      operationId: pushChanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncPushRequest'
      responses:
        '200':
          description: Changes applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncPushResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Conflict detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncConflictResponse'

  /sync/status:
    get:
      tags: [Sync]
      summary: Get sync status
      description: Returns the current synchronization status.
      operationId: getSyncStatus
      responses:
        '200':
          description: Sync status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # Metadata Server Configuration
  # ============================================================================
  /users/me/metadata-server:
    get:
      tags: [Sync]
      summary: Get metadata server configuration
      description: Returns the current metadata server connection configuration.
      operationId: getMetadataServerConfig
      responses:
        '200':
          description: Metadata server configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataServerConfig'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: No metadata server configured (local-only mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags: [Sync]
      summary: Configure metadata server connection
      description: |
        Sets up connection to a metadata server for cross-device sync.
        Replaces any existing configuration.
      operationId: setMetadataServerConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetadataServerConfigRequest'
      responses:
        '200':
          description: Configuration saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataServerConfig'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags: [Sync]
      summary: Disconnect from metadata server
      description: |
        Removes metadata server configuration and switches to local-only mode.
        Local data is preserved but will no longer sync.
      operationId: deleteMetadataServerConfig
      responses:
        '204':
          description: Disconnected from metadata server
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /users/me/metadata-server/test:
    post:
      tags: [Sync]
      summary: Test metadata server connection
      description: Tests connectivity to the configured metadata server.
      operationId: testMetadataServerConnection
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  server_version:
                    type: string
                  latency_ms:
                    type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: No metadata server configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # Storage
  # ============================================================================
  /storage/backends:
    get:
      tags: [Storage]
      summary: List storage backends
      description: Returns all configured file storage backends.
      operationId: listStorageBackends
      responses:
        '200':
          description: List of storage backends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackendList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Storage]
      summary: Add storage backend
      description: Configures a new file storage backend.
      operationId: createStorageBackend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStorageBackendRequest'
      responses:
        '201':
          description: Backend configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackend'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /storage/backends/{backend_id}:
    parameters:
      - name: backend_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Storage]
      summary: Get storage backend details
      description: Returns information about a storage backend.
      operationId: getStorageBackend
      responses:
        '200':
          description: Backend details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackend'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Storage]
      summary: Update storage backend
      description: Updates storage backend configuration.
      operationId: updateStorageBackend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStorageBackendRequest'
      responses:
        '200':
          description: Backend updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackend'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Storage]
      summary: Remove storage backend
      description: |
        Removes a storage backend configuration.
        Does not delete files from the backend.
      operationId: deleteStorageBackend
      responses:
        '204':
          description: Backend removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /storage/backends/{backend_id}/test:
    parameters:
      - name: backend_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Storage]
      summary: Test storage backend connection
      description: Tests connectivity to the storage backend.
      operationId: testStorageBackend
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  storage_info:
                    type: object
                    properties:
                      used_bytes:
                        type: integer
                        format: int64
                      quota_bytes:
                        type: integer
                        format: int64
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /storage/backends/{backend_id}/set-primary:
    parameters:
      - name: backend_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Storage]
      summary: Set as primary backend
      description: Sets this backend as the primary for new uploads.
      operationId: setPrimaryBackend
      responses:
        '200':
          description: Primary backend set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackend'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Files
  # ============================================================================
  /files/upload:
    post:
      tags: [Files]
      summary: Upload a book file
      description: |
        Uploads a book file to the primary storage backend.
        Returns file metadata after successful upload.
      operationId: uploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Book file (EPUB, PDF, MOBI, etc.)
      responses:
        '201':
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported file format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /books/{book_id}/file:
    parameters:
      - $ref: '#/components/parameters/BookIdParam'

    get:
      tags: [Files]
      summary: Get book file download URL
      description: |
        Returns a signed URL to download the book file.
        URL is valid for a limited time.
      operationId: getBookFileUrl
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                    format: uri
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Files]
      summary: Delete book file
      description: Deletes the book file from storage.
      operationId: deleteBookFile
      responses:
        '204':
          description: File deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Reading Profiles
  # ============================================================================
  /reading-profiles:
    get:
      tags: [Users]
      summary: List reading profiles
      description: Returns all reading profiles for the user.
      operationId: listReadingProfiles
      responses:
        '200':
          description: List of reading profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProfileList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Users]
      summary: Create reading profile
      description: Creates a new reading profile with viewer settings.
      operationId: createReadingProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReadingProfileRequest'
      responses:
        '201':
          description: Profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /reading-profiles/{profile_id}:
    parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Users]
      summary: Get reading profile
      description: Returns a specific reading profile.
      operationId: getReadingProfile
      responses:
        '200':
          description: Reading profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Users]
      summary: Update reading profile
      description: Updates reading profile settings.
      operationId: updateReadingProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReadingProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Users]
      summary: Delete reading profile
      description: Deletes a reading profile. Cannot delete the default profile.
      operationId: deleteReadingProfile
      responses:
        '204':
          description: Profile deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Cannot delete default profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /reading-profiles/{profile_id}/set-default:
    parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Users]
      summary: Set default reading profile
      description: Sets this profile as the default for new books.
      operationId: setDefaultReadingProfile
      responses:
        '200':
          description: Default profile set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadingProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Saved Filters
  # ============================================================================
  /saved-filters:
    get:
      tags: [Books]
      summary: List saved filters
      description: Returns all saved search/filter queries.
      operationId: listSavedFilters
      responses:
        '200':
          description: List of saved filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilterList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Books]
      summary: Create saved filter
      description: Saves a search/filter query for reuse.
      operationId: createSavedFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedFilterRequest'
      responses:
        '201':
          description: Filter saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /saved-filters/{filter_id}:
    parameters:
      - name: filter_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Books]
      summary: Get saved filter
      description: Returns a specific saved filter.
      operationId: getSavedFilter
      responses:
        '200':
          description: Saved filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags: [Books]
      summary: Update saved filter
      description: Updates a saved filter.
      operationId: updateSavedFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSavedFilterRequest'
      responses:
        '200':
          description: Filter updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Books]
      summary: Delete saved filter
      description: Deletes a saved filter.
      operationId: deleteSavedFilter
      responses:
        '204':
          description: Filter deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================================
  # Export
  # ============================================================================
  /export/library:
    post:
      tags: [Books]
      summary: Export library data
      description: Exports library data in structured format.
      operationId: exportLibrary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [json, csv, opml]
                include_books:
                  type: boolean
                  default: true
                include_annotations:
                  type: boolean
                  default: true
                include_notes:
                  type: boolean
                  default: true
                include_progress:
                  type: boolean
                  default: true
                shelf_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Export only specific shelves
                tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Export only books with these tags
      responses:
        '200':
          description: Export file
          content:
            application/json:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
            application/xml:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/books:
    post:
      tags: [Files]
      summary: Export book files
      description: |
        Exports book files as a ZIP archive.
        Only includes files stored on the server.
      operationId: exportBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Specific books to export (all if empty)
                include_metadata:
                  type: boolean
                  default: true
                  description: Include metadata JSON files
      responses:
        '200':
          description: ZIP archive
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

# ==============================================================================
# Components
# ==============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Items per page

    SortParam:
      name: sort
      in: query
      schema:
        type: string
        default: '-added_at'
      description: |
        Sort field with optional direction prefix.
        Prefix with `-` for descending order.
        Examples: `title`, `-added_at`, `author`

    BookIdParam:
      name: book_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Book ID

    ShelfIdParam:
      name: shelf_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Shelf ID

    TagIdParam:
      name: tag_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Tag ID

    SeriesIdParam:
      name: series_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Series ID

    AnnotationIdParam:
      name: annotation_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Annotation ID

    NoteIdParam:
      name: note_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Note ID

    BookmarkIdParam:
      name: bookmark_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
[...]
